In [9]:
import pandas as pd

In [10]:
data1 = {'Job/Operation': ['1', '2', '3', '4'],
        '1': [2, 4, 2, 3],
        '2': [3, 4, 2, 3],
        '3': [4, 1, 3, 1]}
df1 = pd.DataFrame(data1).set_index('Job/Operation') 
df1

               1  2  3
Job/Operation
1              2  3  4
2              4  4  1
3              2  2  3
4              3  3  1

In [11]:
data2 = {'Job/Operation': ['1', '2', '3', '4'],
        '1': [1, 3, 2, 1],
        '2': [2, 2, 3, 3],
        '3': [3, 1, 1, 2]}
df2 = pd.DataFrame(data2).set_index('Job/Operation') 
df2

               1  2  3
Job/Operation
1              1  2  3
2              3  2  1
3              2  3  1
4              1  3  2

In [12]:
df1.to_csv('processing_times.csv')
df2.to_csv('routing_table.csv')

In [ ]:
df1.index = ['0', '1', '2', '3' ]