In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('processing_times.csv') 
df1

   Job/Operation  1  2  3
0              1  2  3  4
1              2  4  4  1
2              3  2  2  3
3              4  3  3  1

In [3]:
pop = []
df = df1

In [4]:
df2 = pd.read_csv('routing_table.csv') 
df2

   Job/Operation  1  2  3
0              1  1  2  3
1              2  3  2  1
2              3  2  3  1
3              4  1  3  2

In [5]:
df1 = df1.drop(df1.columns[0], axis = 1)
df1

   1  2  3
0  2  3  4
1  4  4  1
2  2  2  3
3  3  3  1

In [6]:
df2 = df2.drop(df2.columns[0], axis = 1)
df2

   1  2  3
0  1  2  3
1  3  2  1
2  2  3  1
3  1  3  2

In [7]:
output = []

In [8]:
s = []
f = []
for i in range(df2.shape[0]):
    s.append([i+1,1,int(df2.iloc[i,0])])
    f.append(0)

s, f

([[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1]], [0, 0, 0, 0])

In [9]:
def job_processing_time(table, sss):
    List = []
    # print(table.shape)
    for i in range(table.shape[0]):
        sum = 0
        for j in range(sss[i][1]-1, table.shape[1]):
            sum+=table.iloc[i,j]
            job = i
        List.append([job, int(sum)])
    return List
p = job_processing_time(df1,s)

p

[[0, 9], [1, 9], [2, 7], [3, 7]]

In [10]:
def count_maxi(l):
    ind = []
    count = 0
    l = sorted(l, key=lambda x: x[1]) #lambda arguments: expression
    maxi = l[-1][1]
    for i in l:
        if maxi == i[1]:
            count +=1
            ind.append(i[0])
    return maxi, count, ind

maxi, count, index = count_maxi(p)
maxi, count, index

(9, 2, [0, 1])

In [11]:
mini = int(df1.iloc[index[0],0])
pos = index[0]
for i in index[1:]:
    if df1.iloc[i,0] < mini:
        mini = int(df1.iloc[i,0])
        pos = i
mini, pos

(2, 0)

In [12]:
output.append(s[pos])
s.pop(pos)

print(output)
print(s)

[[1, 1, 1]]
[[2, 1, 3], [3, 1, 2], [4, 1, 1]]

In [13]:
def job_mini_index(l):
    mini = l[0]
    for i in l[1:]:
        if i <= mini:
            mini = i
    index = []
    for i in range(len(l)):
        if l[i] == mini:
            index.append(i)
    return mini, index
    
l_ind = job_mini_index(f)
l_ind

(0, [0, 1, 2, 3])

In [14]:
e = []
e.append(output[-1][0])
e.append(output[-1][1]+1)
e.append(int(df2.iloc[e[0]-1,e[1]-1]))
e

[1, 2, 2]

In [15]:
s.append(e)
s.sort(key= lambda x:x[0])
s, output

([[1, 2, 2], [2, 1, 3], [3, 1, 2], [4, 1, 1]], [[1, 1, 1]])

In [16]:
f[output[-1][0]-1] += int(df1.iloc[output[-1][0]-1, output[-1][1]-1])
for i in s:
    if output[-1][2] == i[2]:
        print(i[0])
        f[i[0] - 1] += f[output[-1][0]-1]
f

4

[2, 0, 0, 2]

In [17]:
p = job_processing_time(df1,s)

p

[[0, 7], [1, 9], [2, 7], [3, 7]]

In [18]:
li = []
for i in l_ind[1]:
    li.append(p[i])
print(li)

m,c,po = count_maxi(li)
m,c,po

[[0, 7], [1, 9], [2, 7], [3, 7]]

(9, 1, [1])

In [19]:
pos = li[po[0]][0]
pos

1

In [20]:
output.append(s[pos])
s.pop(pos)

print(output)
print(s)

[[1, 1, 1], [2, 1, 3]]
[[1, 2, 2], [3, 1, 2], [4, 1, 1]]

In [21]:
e = []
e.append(output[-1][0])
e.append(output[-1][1]+1)
e.append(int(df2.iloc[e[0]-1,e[1]-1]))
e

[2, 2, 2]

In [22]:
s.append(e)
s.sort(key= lambda x:x[0])
s, output

([[1, 2, 2], [2, 2, 2], [3, 1, 2], [4, 1, 1]], [[1, 1, 1], [2, 1, 3]])

In [23]:
f[output[-1][0]-1] += int(df1.iloc[output[-1][0]-1, output[-1][1]-1])
for i in s:
    if output[-1][2] == i[2]:
        print(i[0])
        f[i[0] - 1] += f[output[-1][0]-1]
f

[2, 4, 0, 2]

In [24]:
l_ind = job_mini_index(f)
l_ind

(0, [2])

In [25]:
if len(l_ind[1]) == 1:
    pos = l_ind[1][0]

pos

2

In [26]:
output.append(s[pos])
s.pop(pos)

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2]]
[[1, 2, 2], [2, 2, 2], [4, 1, 1]]

In [27]:
e = []
e.append(output[-1][0])
e.append(output[-1][1]+1)
e.append(int(df2.iloc[e[0]-1,e[1]-1]))
e

[3, 2, 3]

In [28]:
s.append(e)
s.sort(key= lambda x:x[0])

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2]]
[[1, 2, 2], [2, 2, 2], [3, 2, 3], [4, 1, 1]]

In [29]:
f[output[-1][0]-1] += int(df1.iloc[output[-1][0]-1, output[-1][1]-1])
int(df1.iloc[output[-1][0]-1, output[-1][1]-1])
for i in s:
    if (output[-1][2] == i[2]) and (f[i[0] - 1]<f[output[-1][0]-1]):
        print(i[0])
        f[i[0] - 1] += f[output[-1][0]-1]
f

#[2, 4, 0, 2]
#[2,4,4,2]

[2, 4, 2, 2]

In [30]:
l_ind = job_mini_index(f)
l_ind

(2, [0, 2, 3])

In [31]:
p = job_processing_time(df1,s)

p

[[0, 7], [1, 5], [2, 5], [3, 7]]

In [32]:
li = []
for i in l_ind[1]:
    li.append(p[i])
print(li)

maxi, count, index = count_maxi(p)
maxi, count, index

[[0, 7], [2, 5], [3, 7]]

(7, 2, [0, 3])

In [33]:
mini = int(df1.iloc[index[0],s[i][1]])
print(mini)
pos = index[0]
for i in index[1:]:
    print(df1.iloc[i,s[i][1]])
    if df1.iloc[i,s[i][1]] <= mini:
        mini = int(df1.iloc[i,0])
        pos = i
mini, pos

3
3

(3, 3)

In [34]:
output.append(s[pos])
s.pop(pos)

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1]]
[[1, 2, 2], [2, 2, 2], [3, 2, 3]]

In [35]:
e = []
e.append(output[-1][0])
e.append(output[-1][1]+1)
e.append(int(df2.iloc[e[0]-1,e[1]-1]))
e

[4, 2, 3]

In [36]:
s.append(e)
s.sort(key= lambda x:x[0])

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1]]
[[1, 2, 2], [2, 2, 2], [3, 2, 3], [4, 2, 3]]

In [37]:
f[output[-1][0]-1] += int(df1.iloc[output[-1][0]-1, output[-1][1]-1])
int(df1.iloc[output[-1][0]-1, output[-1][1]-1])
for i in s:
    if (output[-1][2] == i[2]) and (f[i[0] - 1]<f[output[-1][0]-1]):
        print(i[0])
        f[i[0] - 1] += f[output[-1][0]-1]
f

[2, 4, 2, 5]

In [38]:
l_ind = job_mini_index(f)
l_ind

(2, [0, 2])

In [39]:
p = job_processing_time(df1,s)

p

[[0, 7], [1, 5], [2, 5], [3, 4]]

In [40]:
li = []
for i in l_ind[1]:
    li.append(p[i])
print(li)

maxi, count, index = count_maxi(p)
maxi, count, index

[[0, 7], [2, 5]]

(7, 1, [0])

In [41]:
mini = int(df1.iloc[index[0],s[i][1]])
print(mini)
pos = index[0]
for i in index[1:]:
    print(df1.iloc[i,s[i][1]])
    if df1.iloc[i,s[i][1]] <= mini:
        mini = int(df1.iloc[i,0])
        pos = i
mini, pos

4

(4, 0)

In [42]:
if len(l_ind[1]) == 1:
    pos = l_ind[1][0]

pos

0

In [43]:
output.append(s[pos])
s.pop(pos)

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1], [1, 2, 2]]
[[2, 2, 2], [3, 2, 3], [4, 2, 3]]

In [44]:
e = []
e.append(output[-1][0])
e.append(output[-1][1]+1)
e.append(int(df2.iloc[e[0]-1,e[1]-1]))
e

[1, 3, 3]

In [45]:
s.append(e)
s.sort(key= lambda x:x[0])

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1], [1, 2, 2]]
[[1, 3, 3], [2, 2, 2], [3, 2, 3], [4, 2, 3]]

In [46]:
f[output[-1][0]-1] += int(df1.iloc[output[-1][0]-1, output[-1][1]-1])
int(df1.iloc[output[-1][0]-1, output[-1][1]-1])
for i in s:
    if (output[-1][2] == i[2]) and (f[i[0] - 1]<f[output[-1][0]-1]):
        print(i[0])
        f[i[0] - 1] += f[output[-1][0]-1]
f

2

[5, 9, 2, 5]

In [47]:
l_ind = job_mini_index(f)
l_ind

(2, [2])

In [48]:
if len(l_ind[1]) == 1:
    pos = l_ind[1][0]

pos

2

In [49]:
output.append(s[pos])
s.pop(pos)

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1], [1, 2, 2], [3, 2, 3]]
[[1, 3, 3], [2, 2, 2], [4, 2, 3]]

In [50]:
e = []
e.append(output[-1][0])
e.append(output[-1][1]+1)
e.append(int(df2.iloc[e[0]-1,e[1]-1]))
e

[3, 3, 1]

In [51]:
s.append(e)
s.sort(key= lambda x:x[0])

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1], [1, 2, 2], [3, 2, 3]]
[[1, 3, 3], [2, 2, 2], [3, 3, 1], [4, 2, 3]]

In [52]:
f[output[-1][0]-1] += int(df1.iloc[output[-1][0]-1, output[-1][1]-1])
int(df1.iloc[output[-1][0]-1, output[-1][1]-1])
for i in s:
    if (output[-1][2] == i[2]) and (f[i[0] - 1]<f[output[-1][0]-1]):
        print(i[0])
        f[i[0] - 1] += f[output[-1][0]-1]
f

[5, 9, 4, 5]

In [53]:
l_ind = job_mini_index(f)
l_ind

(4, [2])

In [54]:
if len(l_ind[1]) == 1:
    pos = l_ind[1][0]

pos

2

In [55]:
output.append(s[pos])
s.pop(pos)

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1], [1, 2, 2], [3, 2, 3], [3, 3, 1]]
[[1, 3, 3], [2, 2, 2], [4, 2, 3]]

In [56]:
f, df1, df2, df1.shape

([5, 9, 4, 5],
    1  2  3
 0  2  3  4
 1  4  4  1
 2  2  2  3
 3  3  3  1,
    1  2  3
 0  1  2  3
 1  3  2  1
 2  2  3  1
 3  1  3  2,
 (4, 3))

In [57]:
e = []
e.append(output[-1][0])
e.append(output[-1][1]+1)
print(e)
print(df1.shape[1])
if int(e[1]) + 1 >= df1.shape[1]:
    
    f.pop(e[0]-1)
    df1 = df1.drop(e[0]-1)
    df2 = df2.drop(e[0]-1)
    pop.append(e[0]-1)
else:
    e.append(int(df2.iloc[e[0]-1,e[1]-1]))
    s.append(e)
    s.sort(key= lambda x:x[0])

    print(output)
s, f, pop

[3, 4]
3

([[1, 3, 3], [2, 2, 2], [4, 2, 3]], [5, 9, 5], [2])

In [58]:
def job_processing_t(table, sss):
    List = []
    columns = table.columns
    ll = [x[1]-1 for x in sss]
    print(ll)
    c = 0
    print(table.shape)
    for i in list(df1.index):
        print(i)
        sum = 0
        for j in range(ll[c], table.shape[1]):
            print(1000+ j)
            sum+=table.loc[i,str(j)]
        List.append([i, int(sum)])
        c += 1
    return List

p = job_processing_t(df1,s)

p

[2, 1, 1]
(3, 3)
0
1002
1
1001
1002
3
1001
1002

[[0, 3], [1, 8], [3, 6]]

In [59]:
l_ind = job_mini_index(f)
l_ind

(5, [0, 2])

In [60]:
li = []
for i in l_ind[1]:
    li.append(p[i])
print(li)

m,c,po = count_maxi(li)
m,c,po

[[0, 3], [3, 6]]

(6, 1, [3])

In [61]:
for i in li:
    if [i[0]] == po:
        poss = i[0]
for k in range(len(s)):
    if poss == s[k][0] -1:
        pos = k
pos

2

In [62]:
output.append(s[pos])
s.pop(pos)

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1], [1, 2, 2], [3, 2, 3], [3, 3, 1], [4, 2, 3]]
[[1, 3, 3], [2, 2, 2]]

In [63]:
e = []
e.append(output[-1][0])
e.append(output[-1][1]+1)
e.append(list(df1.loc[e[0]-1])[e[1]-1])
print(e)

[4, 3, 1]

In [64]:
s.append(e)
s.sort(key= lambda x:x[0])

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1], [1, 2, 2], [3, 2, 3], [3, 3, 1], [4, 2, 3]]
[[1, 3, 3], [2, 2, 2], [4, 3, 1]]

In [65]:
f,output, s

([5, 9, 5],
 [[1, 1, 1],
  [2, 1, 3],
  [3, 1, 2],
  [4, 1, 1],
  [1, 2, 2],
  [3, 2, 3],
  [3, 3, 1],
  [4, 2, 3]],
 [[1, 3, 3], [2, 2, 2], [4, 3, 1]])

In [66]:
# f[output[-1][0]-1]
print(output[-1][0]-1)
for i in pop:
    if i < output[-1][0]-1:
        posi = output[-1][0]-2
print(posi)

3
2

In [67]:
print(int(list(df1.loc[output[-1][0]-1])[output[-1][1]-1]))

3

In [68]:
f[posi] += int(list(df1.loc[output[-1][0]-1])[output[-1][1]-1])
for i in s:
    if (output[-1][2] == i[2]) and (f[i[0] - 1]<f[posi]):
        print(i[0])
        f[i[0] - 1] = f[posi]
f

1

[8, 9, 8]

In [69]:
l_ind = job_mini_index(f)
l_ind

(8, [0, 2])

In [70]:
def job_processing_t(table, sss):
    List = []
    columns = table.columns
    ll = [x[1]-1 for x in sss]
    print(ll)
    c = 0
    print(table.shape)
    for i in list(df1.index):
        print(i)
        sum = 0
        for j in range(ll[c], table.shape[1]):
            print(1000+ j)
            sum+=table.loc[i,str(j)]
        List.append([i, int(sum)])
        c += 1
    return List

p = job_processing_t(df1,s)

p

[2, 1, 2]
(3, 3)
0
1002
1
1001
1002
3
1002

[[0, 3], [1, 8], [3, 3]]

In [71]:
li = []
for i in l_ind[1]:
    li.append(p[i])
print(li)

m,c,po = count_maxi(li)
m,c,po

[[0, 3], [3, 3]]

(3, 2, [0, 3])

In [72]:
for i in li:
    if [i[0]] == po[0]:
        poss = i[0]
for k in range(len(s)):
    if poss == s[k][0] -1:
        pos = k
pos

2

In [73]:
output, s

([[1, 1, 1],
  [2, 1, 3],
  [3, 1, 2],
  [4, 1, 1],
  [1, 2, 2],
  [3, 2, 3],
  [3, 3, 1],
  [4, 2, 3]],
 [[1, 3, 3], [2, 2, 2], [4, 3, 1]])

In [74]:
output.append(s[pos])
s.pop(pos)

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1], [1, 2, 2], [3, 2, 3], [3, 3, 1], [4, 2, 3], [4, 3, 1]]
[[1, 3, 3], [2, 2, 2]]

In [75]:
print(output[-1][0]-1)
for i in pop:
    if i < output[-1][0]-1:
        posi = output[-1][0]-2
print(posi)

3
2

In [76]:
df1, f

(   1  2  3
 0  2  3  4
 1  4  4  1
 3  3  3  1,
 [8, 9, 8])

In [77]:
e = []
e.append(posi)
e.append(output[-1][1]+1)
print(e)
print(df1.shape[1])
if int(e[1]) + 1 >= df1.shape[1]:
    
    f.pop(posi)
    df1 = df1.drop(output[-1][0]-1)
    df2 = df2.drop(output[-1][0]-1)
    pop.append(output[-1][0]-1)
else:
    e.append(int(df2.iloc[output[-1][0]-1,e[1]-1]))
    s.append(e)
    s.sort(key= lambda x:x[0])

    print(output)
s, f, pop

[2, 4]
3

([[1, 3, 3], [2, 2, 2]], [8, 9], [2, 3])

In [78]:
l_ind = job_mini_index(f)
l_ind

(8, [0])

In [79]:
pos = l_ind[1][0]
pos

0

In [80]:
output, s

([[1, 1, 1],
  [2, 1, 3],
  [3, 1, 2],
  [4, 1, 1],
  [1, 2, 2],
  [3, 2, 3],
  [3, 3, 1],
  [4, 2, 3],
  [4, 3, 1]],
 [[1, 3, 3], [2, 2, 2]])

In [81]:
output.append(s[pos])
s.pop(pos)

print(output)
print(s)

[[1, 1, 1], [2, 1, 3], [3, 1, 2], [4, 1, 1], [1, 2, 2], [3, 2, 3], [3, 3, 1], [4, 2, 3], [4, 3, 1], [1, 3, 3]]
[[2, 2, 2]]

In [82]:
len(output)

10

In [83]:
if len(s)==1:
    while len(s) == 1 and len(output) <= 11:
        last = s[0].copy()
        last[-1] += 1
        output.append(s[0])
        output.append(last)
        s.pop(0)
output, s

([[1, 1, 1],
  [2, 1, 3],
  [3, 1, 2],
  [4, 1, 1],
  [1, 2, 2],
  [3, 2, 3],
  [3, 3, 1],
  [4, 2, 3],
  [4, 3, 1],
  [1, 3, 3],
  [2, 2, 2],
  [2, 2, 3]],
 [])

In [84]:
len(output) == df.shape[0] * (df.shape[1] -1 ) #-1 for index column

True