In [3]:
import pandas as pd

In [4]:
data1 = {'Job/Operation': ['1', '2', '3', '4'],
        '1': [2, 4, 2, 3],
        '2': [3, 4, 2, 3],
        '3': [4, 1, 3, 1]}
df1 = pd.DataFrame(data1).set_index('Job/Operation') 
df1

               1  2  3
Job/Operation
1              2  3  4
2              4  4  1
3              2  2  3
4              3  3  1

In [2]:
output = [[1, 1, 1],
  [2, 1, 3],
  [3, 1, 2],
  [4, 1, 1],
  [1, 2, 2],
  [3, 2, 3],
  [3, 3, 1],
  [4, 2, 3],
  [4, 3, 1],
  [1, 3, 3],
  [2, 2, 2],
  [2, 2, 3]]

output

[[1, 1, 1],
 [2, 1, 3],
 [3, 1, 2],
 [4, 1, 1],
 [1, 2, 2],
 [3, 2, 3],
 [3, 3, 1],
 [4, 2, 3],
 [4, 3, 1],
 [1, 3, 3],
 [2, 2, 2],
 [2, 2, 3]]

In [10]:
sumTimes = [0 for i in range(df1.shape[1])]
for i in output:
    
    sumTimes[i[2]-1]+= df1.iloc[i[0]-1, i[1]-1]
print(sumTimes)
print(f"{max(sumTimes)} hours")

[np.int64(9), np.int64(9), np.int64(17)]
17 hours